<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text" href="/public/style.css">
  <title>Adicionar publicaçã0</title>
</head>
<body>
  <h1>Adicionar nova postagem <h1>
  <form action="/add" method="POST">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" required>
    <br>

    <label for="conteudo">Conteúdo:</label>
    <textarea id="label" name="label" required></textarea>
    <br>

    <button type="">Adicionar</button>
  </form>
</body>
</html>